@model LoginViewModel
<h2>Giriş Yap</h2>
<form asp-action="Login" method="post">
    <div><label>Email</label><input asp-for="Email" /></div>
    <div><label>Şifre</label><input asp-for="Password" type="password" /></div>
    <div><input asp-for="RememberMe" type="checkbox" /> Beni Hatırla</div>
    <button type="submit">Giriş Yap</button>
</form>
<a asp-action="Register">Kayıt Ol</a>
